{% extends 'base.html' %}

{% block title %} PeerTutor {% endblock %}

{% block content %}

<div class="about-page">

Peer Tutor <br> <br>

Peer tutor has now been deployed in a beta version at https://hackleypeertutor.herokuapp.com. This project folder contains the code that is used for the server, the API, the AI, and the website. The IOS app can be found in a seperate repository. <br> <br>

PeerTutor utilizes python and various python frameworks (such as tensorflow, flask, flask-sqlalchemey, and flask-restful) for the majority of its functions and algorithims. Our database uses SQLite, but as we shift from beta to version 1.0, we will transition to postgresql. <br> <br>

Our code is open source to encourage improvement. API documentation can be found on the website. <br> <br>

Thanks, <br> <br>
Paul, Steven, Malcolm <br> <br>

</div>
{% endblock %}
