{% extends 'base.html' %}

{% block title %} PeerTutor Admin Console {% endblock %}

{% block content %}
    <h1> Hello Admin </h1>
    <h2> User Database: </h2>
    <table class="admin-table">
        <tr>
            <th> Username </th>
            <th> ID </th>
            <th> Email </th>
            <th> Permission </th>
            <th> Requests </th>
        </tr>
        {% for user in users %}
            <tr>
                <td> {{ user.username }} </td>
                <td> {{ user.id }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.permission }} </td>
                <td> {{ CourseRequest.query.filter_by(user_id=user.id).all() }} </td>
            </tr>
        {% endfor %}
    </table>

    <h2> Course Database: </h2>
    <table class="admin-table">
        <tr>
            <th> Name </th>
            <th> ID </th>
            <th> Description </th>
        </tr>
        {% for course in courses %}
            <tr>
                <td> {{ course.name }} </td>
                <td> {{ course.id }} </td>
                <td> {{ course.description }} </td>
            </tr>
        {% endfor %}
    </table>
    <a class="development-link" href="{{ url_for('admin.addCourse')}}"> Add Course? </a>

    <br>

    <h2> Request Database: </h2>
    <small>
        Relationship Parameter: Teach as true, Learn as false
    </small>
    <table class="admin-table">
        <tr>
            <th> ID </th>
            <th> Course ID </th>
            <th> User ID </th>
            <th> Relationship </th>
        </tr>
        {% for request in requests %}
            <tr>
                <td> {{ request.id }} </td>
                <td> {{ request.user_id }} </td>
                <td> {{ request.course_id }} </td>
                <td> {{ request.relationship}} </td>
            </tr>
        {% endfor %}
    </table>
    <br> <br>
    <small style="color:red">
        Note! This is a development page, and will be locked during release to non-registered admins.
    </small>
{% endblock %}
