{% extends 'base.html' %}

{% block title %} PeerTutor Admin Console {% endblock %}

{% block content %}
    <h1> Goodday, admin </h1>
    <h2 class="admin-table-title"> User Database: </h2>
    <table class="admin-table">
        <tr>
            <th> Username </th>
            <th> ID </th>
            <th> Email </th>
            <th> Permission </th>
            <th> Requests </th>
            <th> Grades </th>
        </tr>
        {% for user in users %}
            <tr>
                <td> {{ user.username }} </td>
                <td> {{ user.id }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.permission }} </td>
                <td> {{ get_user_requests(user) }} </td>
                <td> {{ user.teachableGrades }}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="development-link" href="{{ url_for('admin.addUser')}}"> Add User? </a>

    <h2 class="admin-table-title"> Course Database: </h2>
    <table class="admin-table">
        <tr>
            <th> Name </th>
            <th> ID </th>
            <th> Description </th>
        </tr>
        {% for course in courses %}
            <tr>
                <td> {{ course.name }} </td>
                <td> {{ course.id }} </td>
                <td> {{ course.description }} </td>
            </tr>
        {% endfor %}
    </table>
    <a class="development-link" href="{{ url_for('admin.addCourse')}}"> Add Course? </a>

    <br>

    <h2 class="admin-table-title"> Request Database: </h2>
    <small>
        Relationship Parameter: Teach as true, Learn as false
    </small>
    <table class="admin-table">
        <tr>
            <th> ID </th>
            <th> User ID </th>
            <th> Course ID </th>
            <th> Relationship </th>
        </tr>
        {% for request in requests %}
            <tr>
                <td> {{ request.id }} </td>
                <td> {{ request.user_id }} </td>
                <td> {{ request.course_id }} </td>
                <td> {{ request.relationship}} </td>
            </tr>
        {% endfor %}
    </table>
    <h2 class="admin-table-title"> Match Database: </h2>
    <table class="admin-table">
        <tr>
            <th> ID </th>
            <th> Tutor ID </th>
            <th> Student ID </th>
            <th> Course ID </th>
            <th> Period </th>
        </tr>
        {% for match in matches %}
            <tr>
                <td> {{ match.id }} </td>
                <td> {{ match.tutor_id }} </td>
                <td> {{ match.tutee_id }} </td>
                <td> {{ match.course_id }} </td>
                <td> {{ match.period }} </td>
            </tr>
        {% endfor %}
    </table>
    <br> <br>
    <small style="color:red">
        Note! This is a development page, and will be locked during release to non-registered admins.
    </small>
    <br> <br>
    <a class="development-link" href="{{url_for('main.home')}}"> Return to home? </a>
{% endblock %}
