{% extends 'base.html' %}

{% block title %} PeerTutor API Help {% endblock %}

{% block content %}
    <h1> PeerTutor API Documentation </h1>
    <p> 
        Currently in development stage. Check back later for an official release!
    </p>
    <p>
        In order to use the API, use the 'curl' method in terminal or a URL Session of some kind that supports both GET and POST requests
    </p>
    <p style="text-decoration:underline">
        Currently Allowed Api Requests:
    </p>

    <hr>
    <p>
        Look up a user (GET) @ /api/user/#
    </p>
    <small> No Parameters (GET) </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "email": "example2@gmail.com", 
            "frees": [
              "d1p6"
            ], 
            "grade": 11, 
            "id": 2, 
            "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
            "permission": 1, 
            "teachableGrades": [8,9,10,11,12], 
            "username": "example2"
        }
    </p>

    <hr>
    <p>
        Look up a course (GET) @ /api/course/#
    </p>
    <small> No Parameters (GET) </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "description": "Calc", 
            "id": 1, 
            "name": "Math"
        }
    </p>

    <hr>
    <p>
        Find all courses (GET) @ /api/courses
    </p>
    <small> No Parameters (GET) </small>
    <h5> Example return JSON: </h4>
    <p>
        { courses: [
        {
            "description": "Calc", 
            "id": 1, 
            "name": "Math"
        },
        {
            "description": "The Passion", 
            "id": 2, 
            "name": "English"
        }
        ] }
    </p>

    <hr>
    <p>
        Find matches by tutee id (GET) @ /api/findmatchbytutee/# 
    </p>
    </p>
    <small> No Parameters (GET) </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "matches: ": [
              {
                "course": {
                    "description": "The Passion", 
                    "id": 2, 
                    "name": "English"
                }, 
                "id": 1, 
                "period": "d1p6", 
                "tutee": {
                    "email": "example2@gmail.com", 
                    "frees": [
                    "d1p6"
                    ], 
                    "grade": 11, 
                    "id": 2, 
                    "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                    "permission": 1, 
                    "teachableGrades": [8,9,10,11,12], 
                    "username": "example2"
                }, 
                "tutor": {
                    "email": "example3@gmail.com", 
                    "frees": [
                    "d1p6"
                    ], 
                    "grade": 11, 
                    "id": 3, 
                    "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                    "permission": 1, 
                    "teachableGrades": [8,9,10,11,12], 
                    "username": "example1"
                }
              }
            ]
        }
    </p>

    <hr>
    <p>
        Find matches by tutor id (GET) @ /api/findmatchbytutor/#
    </p>
    </p>
    <small> No Parameters (GET) </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "matches: ": [
              {
                "course": {
                    "description": "The Passion", 
                    "id": 2, 
                    "name": "English"
                }, 
                "id": 1, 
                "period": "d1p6", 
                "tutee": {
                    "email": "example2@gmail.com", 
                    "frees": [
                    "d1p6"
                    ], 
                    "grade": 11, 
                    "id": 2, 
                    "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                    "permission": 1, 
                    "teachableGrades": [8,9,10,11,12], 
                    "username": "example2"
                }, 
                "tutor": {
                    "email": "example3@gmail.com", 
                    "frees": [
                    "d1p6"
                    ], 
                    "grade": 11, 
                    "id": 3, 
                    "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                    "permission": 1, 
                    "teachableGrades": [8,9,10,11,12], 
                    "username": "example1"
                }
              }
            ]
        }
    </p>

    <hr>
    <p>
        Find match requests by id (GET) @ /api/findmatchrequestbyid/#
    </p>
    </p>
    <small> No Parameters (GET) </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "id": 2,
            "user": {
                "email": "example2@gmail.com", 
                "frees": [
                "d1p6"
                ], 
                "grade": 11, 
                "id": 2, 
                "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                "permission": 1, 
                "teachableGrades": [8,9,10,11,12], 
                "username": "example2"
            }, 
            "course": {
                "description": "The Passion", 
                "id": 2, 
                "name": "English"
            }, 
            "relationship": True
        }
    </p>

    <hr>
    <p>
        Register a user (POST) @ curl http://hackleypeertutor.herokuapp.com/api/register -d "username=example2" 
            -d "email=example2@gmail.com" -d "grade=11" -d "password=examplePassword" -d "frees=d1p2d3p5d5p6" -X POST -v
    </p>
    </p>
    <small> Parameters: 
        <br>
        username (String)
        <br>
        email (String)
        <br>
        grade (Int)
        <br>
        password (String)
        <br>
        frees (Undelimited String)
    </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "message" : "success"
            "user": {
                "email": "example2@gmail.com", 
                "frees": [
                "d1p6"
                ], 
                "grade": 11, 
                "id": 2, 
                "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                "permission": 1, 
                "teachableGrades": [8,9,10,11,12], 
                "username": "example2"
            }
        }
    </p>
    <p> If user wasn't created, it will return {"message" : message, "user" : None}</p>

    <hr>
    <p>
        Request a match for a user (POST) @ curl http://hackleypeertutor.herokuapp.com/api/request -d "user_id=1" 
            -d "course_id=2" -d "relationship=True" -X POST -v
        
    </p>
    <p> Notes: Relationship True suggests teacher and relationship False suggests student. <em> Sending a course request will also automatically run the match function to check for new possible matches! </em> 
    If a match was not found, it will send a pending request that will be matched when another applicable request is made </p>
    <small> Parameters: 
        <br>
        user_id (Int)
        <br>
        course_id (Int)
        <br>
        relationship (Boolean -- True->Teacher, False->Student)
    </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "message:" : "success",
            "match_found" : True,
            "match" : {
                "course": {
                    "description": "The Passion", 
                    "id": 2, 
                    "name": "English"
                }, 
                "id": 1, 
                "period": "d1p6", 
                "tutee": {
                    "email": "example2@gmail.com", 
                    "frees": [
                    "d1p6"
                    ], 
                    "grade": 11, 
                    "id": 2, 
                    "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                    "permission": 1, 
                    "teachableGrades": [8,9,10,11,12], 
                    "username": "example2"
                }, 
                "tutor": {
                    "email": "example3@gmail.com", 
                    "frees": [
                    "d1p6"
                    ], 
                    "grade": 11, 
                    "id": 3, 
                    "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                    "permission": 1, 
                    "teachableGrades": [8,9,10,11,12], 
                    "username": "example1"
                }
              }
        }
    </p>

    <hr>
    <h2> The following commands only work with a URL Session of some kind </h2>
    <small> (Because they rely on flask-login) </small>
    
    <hr>
    <p>
        Login user (POST) @ curl http://hackleypeertutor.herokuapp.com/api/login -d "username=example" -d "password=123" -X POST -v     
    </p>
    <small> Parameters: 
        <br>
        username (String)
        <br>
        password (String)
    </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "logged-in" : True,
            "user": {
                "email": "example2@gmail.com", 
                "frees": [
                "d1p6"
                ], 
                "grade": 11, 
                "id": 2, 
                "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
                "permission": 1, 
                "teachableGrades": [8,9,10,11,12], 
                "username": "example2"
            }
        }
    </p>

    <hr>
    <p>
        Search for current logged-in user (GET) @ /api/user
    </p>
    <small> No Parameters (GET) </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "email": "example2@gmail.com", 
            "frees": [
              "d1p6"
            ], 
            "grade": 11, 
            "id": 2, 
            "joinDate": "Mon, 18 Oct 2021 14:17:37 GMT", 
            "permission": 1, 
            "teachableGrades": "8,9,10,11,12", 
            "username": "example2"
        }
    </p>

    <hr>
    <p>
        Logout user (POST) @ /api/logout
    </p>
    <small> No Parameters </small>
    <h5> Example return JSON: </h4>
    <p>
        {
            "logged-out" : True
            "message" : "successful logout"
        }
    </p>
    
    <br> <br>
    <a class="development-link" href=" {{url_for('admin.adminPage')}}"> Looking for the admin page? </a>
{% endblock %}