<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title> {% block title %} {% endblock %} </title>
</head>
<body>
  <header class="nav-bar-header">
    <nav class="nav-bar-nav">
      <div class="nav-bar-div">
        <a class="link left-link logo" href="{{ url_for('main.home') }}">Hackley Peer Tutoring</a>
          <div class="left-link-group">
            <a class="link left-link" href="{{ url_for('main.home') }}">Home</a>
            <a class="link left-link" href="{{ url_for('main.home') }}">About</a>
            <a class="link left-link" href="{{ url_for('main.apiHelp')}}">API</a>
          </div>

          <div class="right-link-group">
          {% if current_user.is_authenticated %}
            <a class="link right-link" href=" {{ url_for('users.logout') }}">Logout</a>
            <a class="link right-link" href=" {{ url_for('users.account') }}">Account</a>
            <a class="link right-link" href=" {{ url_for('main.home') }}">Sessions</a>
            <a class="link right-link" href=" {{ url_for('tutor_functions.requests') }}">Requests</a>
          {% else %}
            <a class="link right-link" href=" {{ url_for('users.login') }}">Login</a>
            <a class="link right-link" href="{{ url_for('users.register') }}">Register</a>
          {% endif %}

          {% if current_user.permission == 4%}
            <a class="link right-link admin-link" href="{{ url_for('admin.adminPage') }}">Admin</a>
          {% endif%}
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="content">
      <div class="#">
      <div class="#">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for catagory, message in messages %}
                <div class="#">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
      </div>
  </main>
</body>