{% extends 'base.html' %}

{% block title %} PeerTutor {% endblock %}

{% block content %}
    <div class="home-intro-block">
        <div class="home-title-div">
            <h1 class="home-title"> Peer Tutor </h1>
        </div>
        <div class="home-description-div">
            <h2 class="home-description"> Hackley School </h2>
        </div>
        <div class="home-authors-div">
            <h2 class="home-authors"> By Steven Yu, Paul Evans, Malcolm Krolick </h2>
        </div>
        </div>
{% endblock %}
