{% extends 'base.html' %}

{% block title %} PeerTutor {% endblock %}

{% block content %}
    <h1> Welcome to PeerTutor! </h1>
    <p> 
        Currently in development stage. Check back later for an official release!
    </p>
    <p>
        In order to use the API, use the 'curl' method in terminal
    </p>
    <p style="text-decoration:underline">
        Here are currently allowed API Requests:
    </p>
    <p>
        Look up a user @ /UserInfo/# 
    </p>
    <p>
        Look up a course @ /CourseInfo/#
    </p>
    <p> 
        Find matches by tutor id @ /FindMatchByTutor/# 
    </p>
    <p>
        Find matches by tutee id @ /FindMacthByTutee/#
    </p>
    <p>
        Find course requests by id @ /FindCourseRequestsById/#
    </p>
    <p>
        Register a user @ curl http://localhost:5000/RegisterUser -d "username=example2" 
            -d "email=example2@gmail.com" -d "grade=11" -d "password=examplePassword" -X POST -v
    </p>
    <p>
        Request a course for a user @ curl http://localhost:5000/RequestCourse -d "user_id=1" 
            -d "course_id=2" -d "relationship=True" -X POST -v
        where relationship True = teach and relationship False = learn
        
    </p>
    <br> <br>
    <a class="development-link" href=" {{url_for('admin.adminPage')}}"> Looking for the admin page? </a>
{% endblock %}