/* Admin Table */
.admin-table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 15px;
}
tr {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: yellow;
}
.admin-table-title {
    text-decoration: underline;
    border-top: 1px solid darkgrey;
    margin-top: 50px;
    padding:10px;
}

/* Development Styles */
.development-link {
    color: black;
}
.development-link:hover {
    color: red;
}