/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
}

/* Admin Table */
.admin-table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 15px;
}
tr {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: yellow;
}
.admin-table-title {
    text-decoration: underline;
    border-top: 1px solid darkgrey;
    margin-top: 50px;
    padding:10px;
}

/* Development Styles */
.development-link {
    color: black;
}
.development-link:hover {
    color: red;
}

/* nav bar */
.link{
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 19px;
    padding-left: 19px;
    margin-top:0px;
    color:black;
    text-decoration: none;
    background-color: lightgrey;
    margin-bottom:0px;
}
.link:hover{
    background-color: white;
}
.right-link{
    float: right;
}
.left-link{
    float: left;
}
.nav-bar-header{
    display:inline-block;
    height: auto;
    width: 100%;
    padding-top: 0px;
    background-color: lightgrey;
    margin:0px;
    padding-bottom:0px;
}
.logo{
    border-style: hidden;
    color: blue;
    margin-left: 0px;
    margin-bottom:0px;
}
.logo:hover{
    background-color:inherit;
}
.left-link-group{
    float: left;
}
.right-link-group{
    float:right;
}
.nav-bar-nav{
    width: 100%;
    margin: 0px;
    padding-bottom:0px;

}
.nav-bar-div{
    margin: 0px;
    padding-bottom:0px;
}
.admin-link{
    color: black;
    background-color: #f09ebb;
}

/* General Content CSS */
.messages{
    margin: 0px;
}

/* Sessions.html */
.match-container{
    border: 1px solid black;
    padding: 5px;
    width: 10%;
    display: inline-block;
    margin: 10px;
    text-align: center;
    border-radius: 25px;
}
.session-container{
    margin: 10px;
    text-align: center;
}
.session-divider{
    width: 75%;
}

/* Requests */
.request-table{
    border: 1px solid black;
    width: 75%;
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* notification styles */
.success{
    width: inherit;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    border: 0.5px solid darkgrey;
    background-color: lightgreen;
}
.warning{
    width: inherit;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    border: 0.5px solid darkgrey;
    background-color: #e33d3d;
}

/* home page */
.home-title{
    padding:0px;
    margin:0px;
    font-size: 200px;
    text-align:center;
}
.home-title-div{
    width:inherit;
    padding:0px;
    margin:0px;
}
.home-description-div{
    width:inherit;
    padding:0px;
    margin:0px;
}
.home-description{
    padding:0px;
    margin:0px;
    font-size: 50px;
    text-align:center;
}
.home-authors-div{
    width:inherit;
    padding:0px;
    margin:0px;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-bottom:0px;
}
.home-authors{
    padding:0px;
    margin:0px;
    font-size: 12px;
    text-align:center;
}
.home-howToUse{
    width:inherit;
    margin:0px;
    padding:0px;
    text-align: center;
}
.home-howToUse-title{
    margin:0px;
    font-size: 45px;
}

/* home page blocks */
.home-intro-block{
    margin:0px;
    background-color: white;
}
.home-howToUse-block{
    text-align: center;
    margin:0px;
    padding-top:25px;
    padding-bottom:25px;
    background-color:#C1E1C1; 
}

/* Admin Page */
.admin-page{
    margin: 10px;
    text-align: center;
}

.admin-table{
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

hr {
    width: 75%;
}

.requests-page{
    margin:10px;
    text-align: center;
}

.login-page{
    margin:10px;
    text-align: center;
}

.about-page{
    margin:10px;
    text-align: center;
}

.login-legend{
    width:50%;
}