body {
    margin: 0px;
}

/* Admin Table */
.admin-table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 15px;
}
tr {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: yellow;
}
.admin-table-title {
    text-decoration: underline;
    border-top: 1px solid darkgrey;
    margin-top: 50px;
    padding:10px;
}

/* Development Styles */
.development-link {
    color: black;
}
.development-link:hover {
    color: red;
}

/* nav bar */
.link{
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 19px;
    padding-left: 19px;
    margin-top:0px;
    color:black;
    text-decoration: none;
    background-color: lightgrey;
}
.link:hover{
    background-color: white;
}
.right-link{
    float: right;
}
.left-link{
    float: left;
}
.nav-bar-header{
    display:inline-block;
    height: auto;
    width: 100%;
    padding-top: 0px;
    background-color: lightgrey;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.logo{
    border-style: hidden;
    color: blue;
    margin-left: 0px;
}
.logo:hover{
    background-color:inherit;
}
.left-link-group{
    float: left;
}
.right-link-group{
    float:right;
}
.nav-bar-nav{
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.nav-bar-div{
    margin: 0px;
}
.admin-link{
    color: red;
    background-color:black
}

/* General Content CSS */
.content{
    margin: 10px;
}

/* Sessions.html */
.match-container{
    border: 1px solid black;
    padding: 5px;
    width: 10%;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

/* Requests */
.request-table{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 15px;
}

/* notification styles */
.success{
    width: inherit;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    border: 0.5px solid darkgrey;
    background-color: lightgreen;
}
.warning{
    width: inherit;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    border: 0.5px solid darkgrey;
    background-color: #e33d3d;
}